body, html {
  height: 100%;
  margin: 0px;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  display: flex;
  flex-direction: column; /* Ensure stacking vertically */
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

h1 {
  text-align: center; /* Center the text */
  width: 100%; /* Ensure it spans the full width */
  font-size: 36px;
  color: #333;
  margin-top: 5px; /* Adjust as needed */
  margin-bottom: 20px; /* Adjust as needed */
}
#collage {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align items to the left */
  padding-left: 50px; /* Adjust to create space on the left */
  width: 100%;
}

